sudo docker run \
  -d \
  --name repeater \
  --restart always \
  --network host \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  snowplow/snowplow-bigquery-repeater:${version} \
  --config ${config_base64} \
  --resolver ${iglu_resolver_base64} \
  --bufferSize=20 \
  --timeout=20 \
  --backoffPeriod=900
