sudo docker run \
  -d \
  --name streamloader \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env ACCEPT_LIMITED_USE_LICENSE=${accept_limited_use_license} \
  snowplow/snowplow-bigquery-streamloader:${version} \
  --config ${config_base64} \
  --resolver ${iglu_resolver_base64}
